html {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mon-canvas {
    border: 5px solid green;
}

.blablabla {
    font-size: 2rem;
    color: rgba(15, 134, 231, 0.981);
    background-color: beige;
}